@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* the home page style */

.banner {
  width: 100%;
  height: 50vh;
  text-align: center;
  overflow: hidden;
  /* position: relative; */
}

.banner .slider {
  position: absolute;
  width: 110px; /* Smaller width for large screens */
  height: 110px; /* Smaller height for large screens */
  top: 50%; /* Center the slider vertically */
  left: calc(50% - 50px); /* Center the slider horizontally */
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(300px); /* Adjusted for large screens */
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .banner .slider {
    width: 90px;
    height: 90px;
    left: calc(50% - 55px); /* Adjusted for medium screens */
  }
  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(300px);
  }
}

@media screen and (max-width: 767px) {
  .banner{
    height: 35vh;
  }
  .banner .slider {
    width: 70px;
    height: 70px;
    left: calc(50% - 35px); /* Adjusted for small screens */
    top: 60%;
  }
  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(180px);
  }
}
